/* https: //css-tricks.com/snippets/css/scale-on-hover-with-webkit-transition/ */


/*
CSS classes to do animations.

We have animations for growing (scale by 1.1) and exploding (scale by 1.5)
HTML elements.
*/

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

.explode {
    transition: all .2s ease-in-out;
}

.explode:hover {
    transform: scale(1.5);
}

img.headshot {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
}